<div class="row">
  <div class="col-sm-12 col-md-6">

    <div class="form-box">
      <div class="form-top">
        <h3>
          <b>Log In</b>
        </h3>
      </div>
      <div class="form-bottom">
        <form class="login-form" #loginForm="ngForm">

          <div class="form-group" [class.has-error]="loginEmail.invalid && loginEmail.touched">
            <label class="sr-only" for="loginEmail">Email</label>

            <input autocomplete="on" #loginEmail="ngModel" required email maxlength="50" class="form-control" name="loginEmail" placeholder="Email"
              [(ngModel)]="loginData.email">

          </div>

          <div class="form-group" [class.has-error]="loginPassword.invalid && loginPassword.dirty">
            <label class="sr-only" for="loginPassword">Password</label>

            <input autocomplete="on" #loginPassword="ngModel" required minlength="6" maxlength="50" type="password" class="form-control"
              name="loginPassword" placeholder="Password" [(ngModel)]="loginData.password">

          </div>

          <button type="submit" (click)="logIn()" class="btn btn-info" [disabled]="!loginForm.form.valid">Log in!</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="form-box">
      <div class="form-top">
        <h3>
          <b>Register</b>
        </h3>
      </div>

      <div class="form-bottom" [class.has-error]="registerEmail.invalid && registerEmail.touched">
        <form class="registration-form" #registerForm="ngForm">
          <div class="form-group">
            <label class="sr-only" for="registerEmail">Email</label>

            <input autocomplete="on" #registerEmail="ngModel" required email maxlength="50" class="form-control" name="registerEmail"
              placeholder="Email" [(ngModel)]="registerData.email">

          </div>

          <div class="form-group" [class.has-error]="registerFirstname.invalid && registerFirstname.touched">
            <label class="sr-only" for="registerFirstname">Firstname</label>

            <input autocomplete="on" #registerFirstname="ngModel" required maxlength="50" class="form-control" name="registerFirstname"
              placeholder="Firstname" [(ngModel)]="registerData.firstname">

          </div>

          <div class="form-group" [class.has-error]="registerLastname.invalid && registerLastname.touched">
            <label class="sr-only" for="registerLastname">Lastname</label>

            <input autocomplete="on" #registerLastname="ngModel" required maxlength="50" class="form-control" name="registerLastname"
              placeholder="Lastname" [(ngModel)]="registerData.lastname">

          </div>

          <div class="form-group" [class.has-error]="registerPassword.invalid && registerPassword.dirty">
            <label class="sr-only" for="registerPassword">Password</label>

            <input autocomplete="on" #registerPassword="ngModel" required minlength="5" maxlength="50" type="password" class="form-control"
              name="registerPassword" placeholder="Password" [(ngModel)]="registerData.password">

          </div>

          <div class="form-group" [class.has-error]="registerPasswordRepeat.dirty && (registerPasswordRepeat.invalid || !(registerData.password === registerData.passwordRepeat))">
            <label class="sr-only" for="registerPasswordRepeat">Repeat your password</label>

            <input autocomplete="on" #registerPasswordRepeat="ngModel" required minlength="5" maxlength="50" type="password" class="form-control"
              name="registerPasswordRepeat" placeholder="Repeat password" [(ngModel)]="registerData.passwordRepeat">

          </div>

          <button type="submit" (click)="register()" class="btn btn-info" [disabled]="!registerForm.form.valid || !(registerData.password === registerData.passwordRepeat)">Register!</button>
        </form>
      </div>
    </div>
  </div>
</div>